body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    color: black;
    background-color: #e3f2fd; /* Or any other color you prefer */
}

header {
    text-align: left;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

.box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.about.box {
    background-color: #bbdefb;
}

.skills.box {
    background-color: #90caf9;
}

.experience.box {
    background-color: #64b5f6;
}

.education.box {
    background-color: #42a5f5;
}

.projects.box {
    background-color: #2196f3;
}

.awards.box {
    background-color: #1e88e5;
}

.contact.box {
    background-color: #1976d2;
}

/* Apply similar rules for other sections */

.about p {
    font-size: 1.1em;
    line-height: 1.5;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 5px;
}

.experience ul {
    list-style: none;
    padding: 0;
}

.experience li {
    margin-bottom: 15px;
}

.experience h3 {
    font-size: 1.2em;
}

.contact a {
    color: black;
}

.awards ul {
    list-style: none;
    padding: 0;
}

.awards li {
    margin-bottom: 15px;
}

.projects ul {

}

.projects li {
    margin-bottom: 15px;
}
