body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    color: black;
    background-color: white; /* Or any other color you prefer */
}

header {
    text-align: left;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

.box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.about.box {
    background-color: white;
}

.skills.box {
    background-color: white;
}

.experience.box {
    background-color: white;
}

.education.box {
    background-color: white;
}

.projects.box {
    background-color: white;
}

.awards.box {
    background-color: white;
}

.contact.box {
    background-color: white;
}

/* Apply similar rules for other sections */

.about p {
    font-size: 1.1em;
    line-height: 1.5;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 5px;
}

.experience ul {
    list-style: none;
    padding: 0;
}

.experience li {
    margin-bottom: 15px;
}

.experience h3 {
    font-size: 1.2em;
}

.contact a {
    color: black;
}

/* cleared formating for awards list */
.awards ul {

}

.awards li {
    margin-bottom: 15px;
}

/* cleared formating for projects lists */
.projects ul {

}

.projects li {
    margin-bottom: 15px;
}
